@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&display=swap');

* {
  font-family: 'Hahmlet', serif;
  /* font-weight: ; */
  user-select: none;
  color: white;
}

.app-container {
  position: relative;
}

.carousel-container {
  position: relative;
  width: 300px;
  height: 560px;
  perspective: 1100px;
  margin-bottom: 70px;
  top: 50px;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transform: translateZ(0px);
  transition: transform 1s;
}

.carousel-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background: linear-gradient(to bottom, #12adfd, #1069f3);
  color: #000;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 1s;
  border-radius: 10%;
  text-align: center;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  color: black;
}

.carousel-button span {
  color: black; /* span 텍스트 색상 변경 */
}

.prev {
  left: -220px;
  color: black;
}

.next {
  right: -220px;
  color: black;
}

.card-content {
  padding: 10px;
  text-align: center;
}

.location-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
}

.location-icon img {
  width: 30px;
  margin-right: 10px;
}

.temperature {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 33px; /* 글씨 크기 증가 */
  font-weight: 1000; /* 글씨 두께 증가 */
  margin-top: -5px;
  margin-bottom: -5px;
}

.temperature .feels-like {
  margin-left: 10px;
  font-size: 18px;
}

.weather-icon img {
  width: 200px;
  height: 200px;
}

.weather-condition {
  margin-top: -5px;
  margin-bottom: -5px;
}

.date {
  margin-top: -5px;
  margin-bottom: -5px;
  font-size: small;
}

.additional-info {
  background-color: rgba(128, 128, 128, 0.5); /* 회색 투명 배경 */
  border-radius: 10px; /* 테두리 반경 */
  padding: 5px;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  
}

.info-item {
  flex: 1;
  text-align: center;
  padding: 5px;
  
  margin-left: 3px;
}

.info-item:last-child {
  border-right: none; /* 마지막 파트는 구분선을 제거 */
}